<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
     <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" />
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
  <div style="height: 70%">
        <div class="flex-center flex-column">
	<!-- Default form Create incident -->
	<form method="post" action="/send" th:object="${incident}">
		<br/>
	    <p class="h4 text-center mb-4">Create incident</p>
	        
		<label for="createName" class="grey-text">Name</label> 
		<input type="text" id="incidentName" class="form-control" name="incidentName" style="width: 130%"></input> 
		<br/>
		
		<label for="createDescription" class="grey-text">Description</label> 
		<input type="text" id="description" class="form-control" name="description" style="width: 130%"></input> 
		<br/>
		
		<label for="createLocation" class="grey-text">Location</label> 
		<input type="text" id="location" class="form-control" name="location" style="width: 130%"></input>
		<br/>
		
		<label for="createTags" class="grey-text">Tags</label> 
		<input type="text" id="tags" class="form-control" name="tags"></input> 
		<br/>
		
		<label for="createTopics" class="grey-text">Topics</label> 
		<select
			name="topic">
			<option value="colision">Colisión</option>
			<option value="incendio">Incendio</option>
			<option value="altercado">Altercado</option>
			<option value="emergenciaMedica">Emergencia médica</option>
			<option value="fenomenoMeteorologico">Fenómeno meteorológico</option>
			<option value="otro">Otro</option>
		</select>

		<div class="text-center mt-4">
			<button class="btn btn-elegant" type="submit" style="width: 130%">Send</button>
		</div>
	</form>
    </div>
    </div>
</body>

</html>
